version: "3"

services:

  redis_pubsub:
    build:
      context: .
      dockerfile: Dockerfile.localtest
    image: o2imsdms-image
    depends_on:
      - postgres
      - redis
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2ims-redis-entry.sh

  api:
    image: o2imsdms-image
    depends_on:
      - redis_pubsub
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - API_HOST=api
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - FLASK_APP=/o2ims/entrypoints/flask_application.py
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./tests:/tests
    entrypoint:
      - flask
      - run
      - --host=0.0.0.0
      - --port=80
    ports:
      - "5005:80"

  watcher:
    build:
      context: .
      dockerfile: Dockerfile.localtest
    image: o2imsdms-image
    depends_on:
      - postgres
      - redis
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2ims-watcher-entry.sh

  postgres:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=o2ims
      - POSTGRES_PASSWORD=o2ims123
    ports:
      - "54321:5432"

  redis:
    image: redis:alpine
    ports:
      - "63791:6379"
