version: "3"

services:

  redis_pubsub:
    build:
      context: .
      dockerfile: Dockerfile.localtest
    image: o2imsdms
    depends_on:
      - postgres
      - redis
    environment:
      - API_HOST=api
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./o2app:/o2app
      - ./helm_sdk:/helm_sdk
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2app-redis-entry.sh

  helm_cli:
    image: o2imsdms
    depends_on:
      - watcher
    environment:
      - LOGGING_CONFIG_LEVEL=DEBUG
      - HELM_USER_PASSWD=St8rlingX*
    volumes:
      - ./configs:/configs
      - ./helm_sdk:/helm_sdk
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2app-helmcli-entry.sh
    ports:
      - "10022:22"

  api:
    image: o2imsdms
    depends_on:
      - redis_pubsub
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - API_HOST_EXTERNAL_FLOATING=${API_HOST_EXTERNAL_FLOATING}
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - FLASK_APP=/o2app/entrypoints/flask_application.py
      - FLASK_DEBUG=1
      - PYTHONUNBUFFERED=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
      - HELM_USER_PASSWD=St8rlingX*
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./o2app:/o2app
      - ./helm_sdk:/helm_sdk
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2app-api-entry2.sh
    ports:
      - "5005:80"

  watcher:
    build:
      context: .
      dockerfile: Dockerfile.localtest
    image: o2imsdms
    depends_on:
      - redis_pubsub
    environment:
      - API_HOST_EXTERNAL_FLOATING=${API_HOST_EXTERNAL_FLOATING}
      - DB_HOST=postgres
      - DB_PASSWORD=o2ims123
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
      - OS_AUTH_URL=${OS_AUTH_URL}
      - OS_USERNAME=${OS_USERNAME}
      - OS_PASSWORD=${OS_PASSWORD}
      - LOGGING_CONFIG_LEVEL=DEBUG
    volumes:
      - ./configs:/configs
      - ./o2ims:/o2ims
      - ./o2dms:/o2dms
      - ./o2common:/o2common
      - ./o2app:/o2app
      - ./helm_sdk:/helm_sdk
      - ./tests:/tests
    entrypoint:
      - /bin/sh
      - /tests/o2app-watcher-entry.sh

  postgres:
    image: postgres:9.6
    environment:
      - POSTGRES_USER=o2ims
      - POSTGRES_PASSWORD=o2ims123
    ports:
      - "54321:5432"

  redis:
    image: redis:alpine
    ports:
      - "63791:6379"
