flake8
pylint
mypy
requests
tox

pytest
pytest-cov
pytest-icdiff
mock
mock-alchemy>=0.1.0,<0.2.0

tenacity
pyOpenSSL

# -e git+https://opendev.org/starlingx/distcloud-client.git@master#egg=distributedcloud-client&subdirectory=distributedcloud-client
# -e git+https://opendev.org/starlingx/config.git@master#egg=cgtsclient&subdirectory=sysinv/cgts-client/cgts-client

elasticsearch
