# https://github.com/python-restx/flask-restx/issues/567
flask<3.0.0
flask-restx
sqlalchemy<2.0.0
redis
psycopg2-binary
cotyledon
PyYAML>=5.4.1

Cython>=3.0a1

httplib2
babel
PrettyTable<0.8,>=0.7.2

requests-oauthlib
retry
ruamel.yaml==0.17.17

# https://github.com/python-restx/flask-restx/issues/460
# Workaround for this issue
#werkzeug<=2.1.2

pyOpenSSL

gunicorn

pyjwt==2.6.0