# Copyright (C) 2021 Wind River Systems, Inc.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.


# Default values for O2 services.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

# The default value "" doesn't work with binaryData,
# So generate the value with:
# echo "" | base64
# Cg==
applicationconfig: Cg==
servercrt: Cg==
serverkey: Cg==
smocacrt: Cg==

resources:
  cpu: 1
  memory: 2Gi

global:
  namespace: oran-o2

db:
  storageSize: 10Gi

# ImagePullSecrets for operator ServiceAccount, list of secrets in the same
# namespace used to pull operator image. Must be set for any cluster configured
# with private docker registry.
imagePullSecrets:
  - default-registry-key

o2ims:
  serviceaccountname: admin-oran-o2
  image:
    img_o2: registry.local:9001/o-ran-sc/pti-o2imsdms:2.0.0
    img_postgres: postgres:9.6
    img_redis: redis:alpine
    pullPolicy: IfNotPresent
  logginglevel: "WARNING"

o2dms:
  helm_cli_enable: false

ocloud:
  OS_AUTH_URL: ""
  OS_USERNAME: ""
  OS_PASSWORD: ""
  K8S_KUBECONFIG: ""
  API_HOST_EXTERNAL_FLOATING: ""
  HELM_USER_PASSWD: "St8rlingX*"
